<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-info">View Post Here..!</h1>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8 offset-xxl-2 col-xxl-8">
            <div class="lead border rounded p-3 shadow">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">            
                                <p>
                                    <span class="card-title">User ID : </span>
                                    <span class="card-text float-end">{{user.id}}</span>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p>
                                    <span class="card-title">User Title : </span>
                                    <span class="card-text float-end">{{user.title}}</span>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <p>
                                    <span class="card-title">User Body : </span>
                                    <span class="card-text float-end">{{user.body}}</span>
                                </p>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>